body {
  background-image: url("images/doodles.png");
  background-color: rgb(224, 198, 223);
  background-size: 75%;
}

img {
  width:100%;
  max-width: 250px;
  height: 250px;
  border: 2px solid rgb(17, 0, 255); 
  border-style: groove;
  /* instead of solid can also use dotted, dashed etc */
  box-shadow: 5px 5px 4px 2px rgb(5, 22, 2);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  /* background-image: url("images/kitten.jpg") */
}

.paracenter {
  text-align: center
}

ul li {
  list-style: inside;
  color: green;
}

div {
  width: 30%;
  column-width: auto;
  display: inline-block;
  vertical-align: top;
  background-color: rgb(134, 19, 19);
  text-align: left;
  padding: 10px;
}

.column {
  column-count: 3;
  background-color: white;

}

a:hover {
  color: rgb(221, 38, 130);
  font-size: larger;
  transition: font-size 1s; color 3s;
}